.menu-container {
  padding: 10vh 40vw 0 40vw;
}

.menu-item {
  list-style: none;
  margin-bottom: 10px;
  /* border: 1px solid #ddd; */
  background-color: transparent;
  padding: 10px;
  /* border-radius: 5px; */
  /* background-image: url("../assests/bgmenu.jpg"); */
}

.menu-item strong {
  margin-right: 10px;
}

/* Add more custom styles as needed */
/* src/components/MenuList.css */

.order-summary-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg {
  background-image: url("../assests/bgmenu.jpg");
  height: 100vh;
}
